;
; michael a.g. aïvázis
; orthologue
; (c) 1998-2014  all rights reserved
;

; defaults for all praxis apps
[ praxis.shells.db ]
iddcfg = file:idd.cfg
db = import:pyre.db.postgres#praxis:db

; defaults for all postgres db connections
[ pyre.db.server.postgres # praxis:db]
database = praxis

; defaults for all sqlite db connections
[ pyre.db.server.sqlite # praxis:db]
database = praxis


; defaults for all weaver stationery instances
[ pyre.weaver.layouts.banner ]
author = michael a.g. aïvázis
affiliation = orthologue
copyright = (c) 1998-2014 all rights reserved


; end of file
